<h1>About</h1>
<div>
  This is static site generation (JAMStack) sample using the following stack:
  <ul>
    <li><a href="https://angular.io/">Angular</a></li>
    <li><a href="https://scully.io/">Scully.io (SSG for Angular)</a></li>
    <li>Consuming data from <a href="https://strapi.io/">Strapi.io</a></li>
    <li>
      <a href="https://www.apollographql.com/docs/angular/"
        >Apollo GraphQL client</a
      >
    </li>
    <li>
      <a href="https://graphql-code-generator.com/">GraphQL Code Generator</a>
    </li>
    <li>Hosted in <a href="https://www.netlify.com/">Netlify</a></li>
  </ul>
</div>
